@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    font-family: "Questrial";
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
}

html, .fullscreen {
    color: white;
    background-color: #151F2E; 
}

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 48px;
}

header{
  display: flex;
}

.h1{
    margin-top: 2%;
    margin-left: 10%;
}

.h4{
    margin-top: 100px;
    margin-left: 20%;
    background-color: #0c2d5e;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    text-decoration: none;
    color: aliceblue;
}

.h4-2{
    margin-top: 35px;
}

#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 15px;
}

#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(-1);
    filter: FlipH;
}
#camera--trigger{
    width: 200px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    bottom: 30px;
    left: calc(50% - 100px);
}
.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}